<h1>Books#new</h1>
<p>Find me in app/views/books/new.html.erb</p>

<h1>New Book</h1>
<%= render "form", book: @book %>

<h1>New Book</h1>

<%= render "form", book: @book %>

<!-- app/views/books/new.html.erb -->
<h1>New Book</h1>
<%= render "form", book: @book %>
